@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: 'Alphabetized Cassette Tapes Thin';
    src: url('./fonts/alphabetized_cassette_tapes/Alphabetized\ Cassette\ Tapes.ttf') format('truetype');
}

.free {
    font-family: 'Alphabetized Cassette Tapes Thin';
    font-size: 16px;
}

.bg-gradient {
    border-radius: 20px;
    background: linear-gradient(to bottom, #ab96f8, #ff99d0);
    padding: 10px;
}

.boxshadow,
.blurbackground {
    background: linear-gradient(to right, #44FF9A, #44B0FF, #8B44FF, #FF6644, #EBFF70);
    position: relative;
}

.boxshadow::after,
.blurbackground::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: inherit;
    filter: blur(20px);
    z-index: -1;
}

.linearbackground {
    background: linear-gradient(to right, #F0FBB9, #FBB3A0, #BFA2FD, #A4D0FC, #9FE9E2, #9FFACE);
}

/* .bg-free-gradient {
    background: linear-gradient(90deg,
            #f0fbb9 0%,
            #fbb3a0 29.01%,
            #bfa2fd 53.16%,
            #a4d0fc 74.87%,
            #9fe9e2 87.59%,
            #9fface 100%);
} */